<div *ngIf="user$ | async as user" class="flex-container">
  <h3 style="text-align: center">
    EDIT USER <span style="color: #0d6efd">{{ this.id }}</span>
  </h3>

  <form class="form-container" [formGroup]="fg" (ngSubmit)="onFormSubmit()">
    <div>
      <div class="input-container">
        <label for="name">Name: </label>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="nameFormControl"
          required
          [placeholder]="user.name"
        />
        <div
          *ngIf="
            nameFormControl?.invalid &&
            (nameFormControl?.dirty || nameFormControl?.touched)
          "
          class="error"
        >
          <div *ngIf="nameFormControl?.errors?.['required']">
            Name is required
          </div>
        </div>
      </div>

      <div class="input-container">
        <label for="age">Age: </label>
        <input
          type="number"
          id="age"
          class="form-control"
          style="width: 30%"
          formControlName="ageFormControl"
          required
          [placeholder]="user.age"
        />
        <div
          *ngIf="
            ageFormControl?.invalid &&
            (ageFormControl?.dirty || ageFormControl?.touched)
          "
          class="error"
        >
          <div *ngIf="ageFormControl?.errors?.['required']">
            Age is required
          </div>
        </div>
      </div>

      <div>
        <p>Complete the form correctly to enable the button</p>
        <button type="submit" [disabled]="!fg.valid" class="btn btn-primary">
          Edit
        </button>
      </div>
    </div>
  </form>
</div>
