<div style="text-align: center; padding: 50px">
  <h3>USER LIST</h3>
</div>

<!-- <app-user-list-table [userList]="userList$ | async"></app-user-list-table> -->

<div
  style="
    padding-left: 100px;
    padding-bottom: 20px;
    color: #0d6efd;
    font-size: 20px;
  "
>
  <b>Click on the id to see details</b>
</div>

<div
  *ngIf="userList$ | async as userList"
  style="padding-left: 100px; padding-right: 100px; padding-top: 20px"
>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td
          class="td-aligned"
          appUserRowClickable
          [id]="user.id"
          style="cursor: pointer"
        >
          {{ user.id }}
        </td>
        <td class="td-aligned">{{ user.name }}</td>
        <td class="td-aligned">{{ user.age }}</td>
        <td>
          <button mat-icon-button (click)="edit(user.id)">
            <mat-icon aria-label="edit an user" [ngStyle]="{ color: '#0d6efd' }"
              >edit</mat-icon
            >
          </button>
        </td>
        <td>
          <button mat-icon-button (click)="delete(user.id)">
            <mat-icon aria-label="delete an user" [ngStyle]="{ color: 'red' }"
              >delete</mat-icon
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-create-new-user-form></app-create-new-user-form>
